
<div class="container w-screen flex flex-wrap justify-content-center align-items-center">
  <div class="col-9 flex justify-content-end mt-2">
      <button routerLink="new" pButton pRipple class="p-button-primary">
        Add
      </button>
  </div>
  <div class="card col-9 align-items-center">
    <div class="text-center">
      <h2>Table User List</h2>
    </div>
    <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
            <th scope="col">No</th>
            <th scope="col">FullName</th>
            <th scope="col">RoleName</th>
            <th scope="col">Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-u let-i="rowIndex">
          <tr>
              <td>{{ i+1 }}</td>
              <td>{{ u.profileName }}</td>
              <td>{{ u.roleName  }}</td>
              <td>
                <div class="p-buttonset">
                  <button routerLink="/users/detail/{{ u.id }}" pButton pRipple class="p-button-primary" label="View Details"></button>
                  <button routerLink="/users" pButton pRipple class="p-button-danger" label="Delete"></button>
                </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
