<div class="card col-9">

  <h3 class="text-center">Table List My Ticket</h3>
  <p-table [value]="tickets" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Ticket Code </th>
        <th scope="col">Customer Name</th>
        <th scope="col">Ticket Title</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-t let-i="rowIndex">
      <tr>
        <th scope="row"></th>
        <td>{{ t.ticketCode }}</td>
        <td>{{ t.customerName }}</td>
        <td>{{ t.title }}</td>
        <td>{{ t.priority}}</td>
        <td> <p-tag severity="{{ statusColor(t.statusCode) }}" value="{{ t.status }}"></p-tag></td>
        <td>
          <button pButton pRipple  (click)="detail(t.id)" type="button" [loading]="loading" class="btn btn-info" >
            Assign Developer
          </button>
        </td>
      </tr>
      <!-- <tr>
        <td>{{ i+1 }}</td>
        <td>{{ t.profileName }}</td>
        <td>{{ t.roleName  }}</td>
        <td>
          <div class="p-buttonset">
            <button routerLink="/users/profile" pButton pRipple class="p-button-secondary" label="Edit"></button>
            <button routerLink="/users/profile" pButton pRipple class="p-button-primary" label="View Details"></button>
            <button routerLink="/users/profile" pButton pRipple class="p-button-danger" label="Delete"></button>
          </div>
        </td>
      </tr> -->
    </ng-template>
  </p-table>
</div>



<!-- 

<div class="container table-responsive mt-3">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Ticket Code </th>
        <th scope="col">Customer Name</th>
        <th scope="col">Ticket Title</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of tickets; let i=index">
        <th scope="row"></th>
        <td>{{ t.ticketCode }}</td>
        <td>{{ t.customerName }}</td>
        <td>{{ t.title }}</td>
        <td>{{ t.priority}}</td>
        <td><span class="badge bg-success">{{ t.status}}</span></td>
        <td>
          <button (click)="detail(t.id)" type="button" class="btn btn-info" icon="pi pi-external-link">
            Assign Developer
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</div> -->


<div class="card flex justify-content-center">
  <form [formGroup]="assignDeveloperReqDto" (ngSubmit)="assignDeveloper()">
    <p-dialog header="Header" [(visible)]="visible" [style]="{ width: '50vw', height: '250px'}">
      <!-- <pre>{{ assignDeveloperReqDto.value|json }}</pre> -->
      <div class="flex py-2 justify-content-center">
        <p-dropdown formControlName="devId" [options]="developer" optionLabel="profileName" placeholder="select"
          optionValue="id" ></p-dropdown>
      </div>
      <div class="flex py-2 justify-content-end">
        <button type="submit"pButton pRipple class="p-button-primary justify-content-end">Submit</button>
      </div>
    </p-dialog>
  </form>
</div>


<!-- Modal -->
<!-- <div class="modal fade" id="picDevModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Assign Developer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="assignDeveloperReqDto" (ngSubmit)="assignDeveloper()">
        <div class="modal-body">
          <div class="form-group">
            <div class="form-floating">
              <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                formControlName="devId">
                <option selected disabled>Open this select menu</option>
                <option *ngFor="let d of developer" [value]="d.id">{{ d.profileName }}</option>
              </select>
              <label for="floatingSelect">Select Developer</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div> -->