<form [formGroup]="userInsertReqDto" (ngSubmit)="insert()">
  <pre>{{ userInsertReqDto.value|json }}</pre>
  <div class="container">
    <div class="card-container w-screen flex flex-wrap justify-content-center align-items-center"
      style="min-height: 700px">
      <div class="grid shadow-8 m-4 surface-card border-round-sm border-400 p-3 md:col-8 text">
        <div class="flex text-center justify-content-center col-12">
          <h3 class="">Add Account</h3>
        </div>
        <div class="grid col-12 mb-3">
          <label for="email" class="col-12 md:col-3 form-label">Email address <span style="color:red">*</span></label>
          <input pInputText type="email" class="col-12 md:col-9 form-control" id="email" aria-describedby="emailHelp" required
            formControlName="userEmail">
          <small id="emailHelp" class="form-text md:col-9 col-offset-3">We'll never share your email with anyone else.</small>
        </div>
        <div class="grid col-12 mb-3">
          <div class="col-12 md:col-6 mb-3">
            <label for="role" class="col-12 md:col-3 form-label">Select Role <span style="color:red">*</span></label>
            <p-dropdown formControlName="roleId" [options]="roles" optionLabel="roleName" placeholder="select"
              optionValue="id" class="col-12 md:col-9"></p-dropdown>
          </div>
          <div class="col-12 md:col-6 mb-3">
            <label for="company" class="col-12 md:col-3 form-label">Select Company <span style="color:red">*</span></label>
            <p-dropdown formControlName="companyId" [options]="companies" optionLabel="companyName" optionValue="id"
              placeholder="select" class="col-12 md:col-9"></p-dropdown>
          </div>
        </div>

        <div class="grid col-12 mb-3">
          <label for="inputName" class="col-12 md:col-3 form-label">FullName <span style="color:red">*</span></label>
          <input pInputText type="text" class="col-12 md:col-9 form-control" id="inputName" aria-describedby="inputName" required
            formControlName="userName">
        </div>
        <div class="grid col-12 mb-3">
          <label for="inputPhone" class="col-12 md:col-3 form-label">Phone Number<span style="color: red;">*</span></label>
          <input pInputText type="number" class="col-12 md:col-9 form-control" id="inputPhone" aria-describedby="passHelp" required
            formControlName="userPhone">
        </div>
        <div class="grid col-12 mb-3">
          <label for="address" class="col-12 md:col-3 form-label">Address<span style="color: red;">*</span></label>
          <textarea pInputText class="col-12 md:col-9 form-control" id="exampleFormControlTextarea1" rows="3" required
            formControlName="userAddress"></textarea>
        </div>
        <div class="grid col-12 mb-3">
          <label for="formFile" class="col-12 md:col-3 form-label">Photo Profile<span style="color: red;">*</span></label>
          <p-fileUpload mode="basic" class="col-12 md:col-9" chooseLabel="Upload" accept="image/*" (onSelect)="fileUpload($event)">
          </p-fileUpload>
        </div>
        <div class="flex flex-wrap justify-content-end mt-2 col-12">
          <button type="button" routerLink="/users" pButton pRipple class="p-button-secondary mr-3" icon="pi pi-angle-double-left">. Back to previous menu</button>
          <button type="submit" pButton pRipple class="p-button-primary"[loading]="loading" [disabled]="userInsertReqDto.invalid">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>