<div class="card grid flex justify-content-center mt-5">
  <div class="card-container col-6 p-3 ">
    <p-card>
      <ng-template pTemplate="header">
        <div class="text-center mt-5 p-3">
          Login Berhasil
        </div>
      </ng-template>
      Halo {{ fullName }} anda sudah login sebagai {{ roleName }}
      <ng-template pTemplate="footer">
        <hr>
          If you buy things you do not need,soon you will have to sell things you need
      </ng-template>
  </p-card>
  </div>
</div>